@page{
    size: A4;
    margin: 0;
}

@media (max-width: 768px) {
    .sheet-outer, .sheet {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .parent-centered {
        display: block;
        text-align: center;
    }
    .name, .contacts, .caps.header, .work-company, .work-city, .work-period, .work-title {
        font-size: smaller;
    }
}

body {margin: 0}

a:link{
    color: black;
}

a:visited{
    color: black;
}

p{
    margin: 0;
}

ul {
    padding-left: 15;
    padding-bottom: 5;
}

ul li {
    padding-left: 0;
}

.sheet-outer{
    margin: 0;
}

.sheet{
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    font-family: sans-serif
}

@media screen {
    body{
        background: #e0e0e0;
    }
    .sheet{
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin: 5mm auto;
    }
}

.sheet-outer.A4 .sheet{
    width: 210mm;
    height: 296mm
}

.sheet.padding-5mm {
    padding: 5mm
}

.parent-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    display: inline-block;
    background-color: #FCCC66;
}

.contacts{
    font-size: 12pt;
    text-align: center;
    margin: 5;
}

.caps.header{
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10;
}

.work-company{
    font-weight: bold;
}

.work-city{
    float: right;
    font-weight: bold;
}

.work-period{
    float: right;
    font-style: italic;
}

.work-title{
    font-style: italic;
    margin-top: 5;
}