@page {
    size: A4;
    margin: 0;
}

body {
    margin: 0;
}

a:link, a:visited {
    color: black;
}

p {
    margin: 0;
}

ul {
    padding-left: 15px;
    padding-bottom: 5px;
}

ul li {
    padding-left: 0;
}

.sheet-outer {
    margin: 0 auto;
}

.sheet {
    margin: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    page-break-after: always;
    font-family: sans-serif;
    width: 210mm;
    height: 297mm;
}

@media screen {
    body {
        background: #e0e0e0;
    }

    .sheet {
        background: white;
        box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
        margin: 5mm auto;
        overflow: auto;
    }

    @media (max-width: 768px) {
        .sheet-outer, .sheet {
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 10px;
            box-sizing: border-box;
            overflow: auto;
            box-shadow: none;
        }

        .work-city, .work-period {
            float: none;
            display: block;
            text-align: left;
            margin-top: 5px;
        }

        .name {
            font-size: 16pt;
        }

        .contacts, .caps.header, .work-company, .work-title {
            font-size: smaller;
        }
    }
}

.sheet.padding-5mm {
    padding: 5mm;
}

.parent-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
    display: inline-block;
    background-color: #FCCC66;
}

.contacts {
    font-size: 12pt;
    text-align: center;
    margin: 5px;
}

.caps.header {
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10px;
}

.work-company {
    font-weight: bold;
}

.work-city {
    float: right;
    font-weight: bold;
}

.work-period {
    float: right;
    font-style: italic;
}

.work-title {
    font-style: italic;
    margin-top: 5px;
}

@media print {
    body {
        background: white;
    }

    .sheet-outer, .sheet {
        width: 210mm;
        max-width: 210mm;
        height: 297mm;
        margin: 0 auto;
        padding: 5mm;
        box-shadow: none;
        page-break-after: always;
    }

    .sheet {
        overflow: visible;
    }

    .work-city, .work-period {
        float: right;
    }

    .name {
        font-size: 18pt;
    }

    .contacts, .caps.header, .work-company, .work-title {
        font-size: 12pt;
    }
}

* {
    box-sizing: border-box;
}
